%tr
  %td
    = status_purchase.status.id
  %td
    = status_purchase.status.account.username
  %td
    = "$ #{status_purchase.amount}"
  %td
    = status_purchase.state
  %td
    = status_purchase.created_at
